.App{
  /* background-color: black; */
  text-align: center;
}

#sw-api{
  display:flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.starShip{
  width:  20vw;
  height: 20vh;
  background-color: cadetblue;
} 